/* CONFIGURAÇÃO */

@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --light-blue: rgb(0, 132, 255);
  --blue: rgb(0, 102, 255);
  --main-bg: #ffffff;
  --sec-bg: #ebf2f7;
  --hover-bg: #d9d9e0;
  --font-color: #575757;
  --border: rgb(197, 197, 197);
  --border-radius: 0.6rem;
  --no-selected-option: #d4d8e2;
  --title-font-size: 1.6rem;
  --text-font-size: 1.3rem;
}

:root.dark {
  --main-bg: #1b1b1d;
  --sec-bg: #27292c;
  --hover-bg: #262629;
  --font-color: #ffffff;
  --border: #46474b;
}

* {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  color: var(--font-color);
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.2rem;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--sec-bg);
  border-radius: 2rem;
}

.pop-up-container {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(.2rem);
  z-index: 999;
  opacity: 0;
  transition: .3s all;
}

.delete-comment-pop-up {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--main-bg);
  padding: 1rem;
  border-radius: 1.4rem;
  height: 30%;
  min-width: 20%;
  box-shadow: .2rem .2rem 1rem rgba(0, 0, 0, 0.1);
}

.delete-comment-pop-up h3 {
  font-weight: 500;
}

.delete-comment-pop-up .text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.delete-comment-pop-up .btn-container {
  display: flex;
  gap: 1rem;
}

.delete-comment-pop-up div a,
button {
  background-color: var(--light-blue);
  padding: .6rem;
  border-radius: .6rem;
  border: none;
  color: var(--font-color);
  width: 10rem;
  font-size: 1.6rem;
  color: white;

}

.delete-comment-pop-up div a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.delete-comment-pop-up div button:last-child {
  background-color: red;
}

@media (min-width: 1367px) {
  html.font-Pequena {
    font-size: 52.5%;
  }

  html.font-Media {
    font-size: 62.5%;
  }

  html.font-Grande {
    font-size: 68.5%;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(120deg, var(--blue), var(--light-blue));
  }

  button {
    cursor: pointer;
  }

  /* CONTAINER */

  .container {
    display: flex;
    background-color: var(--main-bg);
    width: 90%;
    height: 92%;
    border-radius: var(--border-radius);
  }

  .container .left-bar {
    display: flex;
    flex-direction: column;
    min-width: 27rem;
    background-color: var(--main-bg);
    height: 100%;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    justify-content: center;
    transition: 0.4s all;
  }

  .container .left-bar.minimized .option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 1rem;
  }

  i.hide {
    display: none;
  }

  .container .left-bar #logo {
    position: relative;
    bottom: 20%;
    text-align: center;
  }

  .container .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }

  .container .nav-bar ul {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }

  .container .nav-bar .option {
    padding: 1rem;
    transition: 0.3s all;
    border-radius: 0.2rem;
    width: 100%;
  }

  .container .option a {
    display: flex;
  }

  .container .nav-bar .option i {
    font-size: 2.4rem;
  }

  .container .option.page {
    font-weight: 700;
  }

  .container .nav-bar .option a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.8rem;
  }

  .container .nav-bar .option:hover {
    background-color: var(--hover-bg);
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.2rem;
    background-color: var(--main-bg);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  /* PARTE DAS NOTIFICAÇÕES */

  .container .notifications-bar {
    display: flex;
    background-color: var(--main-bg);
    border-right: 0.2rem solid var(--sec-bg);
    width: 0rem;
    transition: 0.4s all;
  }

  .container .notifications-bar .notifications-content {
    display: none;
  }

  .container .notifications-bar.open .notifications-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .container .notifications-bar.open {
    padding: 2rem;
    width: 36rem;
    height: 100%;
    border-left: 0.2rem solid var(--sec-bg);
  }

  .container .notifications-bar .notifications-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.4rem;
    width: 100%;
  }

  .container .notification {
    padding: 0.6rem;
    border-radius: 0.6rem;
    width: 100%;
    transition: 0.3s all;
  }

  .container .notification p {
    font-size: 1.4rem;
  }

  .container .notification a {
    text-decoration: none;
    font-weight: 600;
  }

  .container .notification:hover {
    background-color: var(--sec-bg);
  }

  .container #no-notification-text {
    font-size: var(--text-font-size);
  }

  /* CONTEÚDO PRINCIPAL DA PÁGINA */

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 0.2rem;
  }

  .content-body {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    height: 80%;
    width: 100%;
  }

  .main-content form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .main-content header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--sec-bg);
    min-height: 8rem;
    width: 100%;
    border-top-right-radius: var(--border-radius);
    background-color: var(--main-bg);
    border-bottom: 0.2rem solid var(--sec-bg);
  }

  .main-content header .search-input {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    width: 87%;
    border-radius: 3.4rem;
    background-color: var(--sec-bg);
  }

  .main-content .search-input input {
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
  }

  .main-content #search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .main-content .question-picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sec-bg);
    height: 8rem;
    width: 100%;
    background-color: var(--main-bg);
  }

  .main-content .question-picker-container ul {
    display: flex;
    list-style: none;
  }

  .main-content .question-picker-container .question-topic {
    font-size: 1.6rem;
    padding: 2.2rem 2rem;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
  }

  .main-content .question-picker-container .question-topic:hover {
    border-bottom: 0.3rem solid var(--light-blue);
  }

  .main-content .question-picker-container #subject-selector {
    position: relative;
    bottom: .6rem;
    background-color: var(--sec-bg);
    padding: .8rem;
    border-radius: .8rem;
    border: none;
    outline: none;

  }

  .main-content .comment-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 70%;
    overflow-y: auto;
    border-radius: var(--border-radius);
    padding: 1.4rem;
  }

  /* CAIXA DO COMENTARIO/PERGUNTA */

  .comment-container .comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    gap: 1rem;
  }

  .comment .answer-with-ia-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: transparent;
  }

  .comment .answer-with-ia-btn i {
    font-size: 1.8rem;
  }

  .comment-container .comment .ia-answer-box {
    display: none;
    padding: 1rem;
    font-size: 1.8rem;
    border-top: .2rem solid var(--sec-bg);
  }

  .comment-container .comment .ia-answer-box h3 {
    font-size: 2rem;
  }


  .ia-answer-box ul li {
    margin-left: 2.3rem;
  }

  .dark .comment-container .comment {
    background-color: var(--sec-bg);
  }

  .comment-container .comment-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    gap: 0.4rem;
  }

  .comment-container .comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    gap: 1rem;
  }

  .comment-container .comment-header #delete-comment-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0.2rem;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    transition: 0.5s all;
    text-decoration: none;
  }

  .comment-container .comment-header #delete-comment-btn:hover {
    background-color: var(--sec-bg);
  }

  .comment-container .comment-header div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .comment-container .comment-header .user-position {
    color: white;
    padding: 0.4rem;
    font-weight: 600;
    border-radius: 0.4rem;
    cursor: pointer;
  }

  .question-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 8rem;
  }

  .question-body p {
    font-size: var(--text-font-size);
    font-weight: 500;
  }

  .question-body img {
    padding: 1rem;
    width: 50%;
    height: 20%;
    align-self: center;
    background-color: var(--sec-bg);
    border-radius: .6rem;
    margin-bottom: 1rem;
  }

  .dark .question-body img {
    background-color: var(--main-bg);
  }


  .comment-container .question-user-icon {
    width: 3rem;
    border-radius: 50%;
  }

  .comment-container .question-username {
    font-weight: 600;
  }

  .comment-container .question-username a {
    font-weight: 600;
    text-decoration: none;
  }

  .comment-container .comment-content .comment-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .comment-container .comment-content .comment-footer div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .comment-container .comment-content .comment-footer div .show-responses-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-weight: 600;
  }

  .comment-container .comment-content .comment-footer p {
    text-align: center;
  }

  .comment-container #no-found-error {
    padding: 2rem;
    text-align: center;
    background-color: var(--main-bg);
  }

  .comment-footer .like-comment-btn {
    cursor: pointer;
  }

  .comment-footer .like-comment-btn i.fa-solid {
    color: red;
  }

  /* TABELA DE PONTUAÇÃO */

  .score-container {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem;
    min-width: 20%;
    height: fit-content;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg);
    margin-top: 1rem;
  }

  .dark .score-container {
    background-color: var(--sec-bg);
  }

  .score-container .user-score-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.4rem;
    gap: 0.4rem;
  }

  .score-container .user-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.2rem;
    padding: 0.8rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    transition: all 0.2s;
    cursor: pointer;
    background-color: var(--main-bg);
  }

  .score-container .user-card:hover {
    height: 3.4rem;
  }

  .score-container .user-card .user-infos {
    display: flex;
    gap: 1rem;
  }

  .score-container .user-card .user-infos a {
    display: flex;
    gap: 1rem;
    text-decoration: none;
  }

  .score-container .user-card-icon {
    width: 2rem;
    border-radius: 50%;
  }

  /* CONTEÚDO SECUNDÁRIO DA PÁGINA */

  .bottom-bar,
  .mobile-notification-btn {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 1366px) {
  html.font-Pequena {
    font-size: 46.5%;
  }

  html.font-Media {
    font-size: 56.5%;
  }

  html.font-Grande {
    font-size: 66.5%;
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(120deg, var(--blue), var(--light-blue));
  }

  button {
    cursor: pointer;
  }

  /* CONTAINER */

  .container {
    display: flex;
    background-color: var(--main-bg);
    width: 90%;
    height: 92%;
    border-radius: var(--border-radius);
  }

  .container .left-bar {
    display: flex;
    flex-direction: column;
    min-width: 7rem;
    background-color: var(--main-bg);
    height: 100%;
    border-bottom-left-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
    justify-content: center;
    transition: 0.4s all;
  }

  .container .left-bar.minimized .option {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 1rem;
  }

  i.hide {
    display: none;
  }

  .container .left-bar #logo {
    position: relative;
    bottom: 20%;
    text-align: center;
  }

  .container .nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
  }

  .container .nav-bar ul {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    list-style: none;
  }

  .container .nav-bar .option {
    padding: 1rem;
    transition: 0.3s all;
    border-radius: 0.2rem;
    width: 100%;
  }

  .container .option a {
    display: flex;
  }

  .container .nav-bar .option i {
    font-size: 2.4rem;
  }

  .container .option.page {
    font-weight: 700;
  }

  .container .nav-bar .option a {
    text-decoration: none;
    color: var(--font-color);
    font-size: 1.8rem;
  }

  .container .nav-bar .link-text {
    display: none !important;
  }

  .container .nav-bar i.hide {
    display: block;
  }

  .container .nav-bar .option:hover {
    background-color: var(--hover-bg);
  }

  .content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 0.2rem;
    background-color: var(--main-bg);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  .container .notifications-bar {
    display: flex;
    background-color: var(--main-bg);
    border-right: 0.2rem solid var(--sec-bg);
    width: 0rem;
    transition: 0.4s all;
  }

  .container .notifications-bar .notifications-content {
    display: none;
  }

  .container .notifications-bar.open .notifications-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .container .notifications-bar.open {
    padding: 2rem;
    width: 36rem;
    height: 100%;
    border-left: 0.2rem solid var(--sec-bg);
  }

  .container .notifications-bar .notifications-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.4rem;
    width: 100%;
  }

  .container .notification {
    padding: 0.6rem;
    border-radius: 0.6rem;
    width: 100%;
    transition: 0.3s all;
  }

  .container .notification p {
    font-size: 1.4rem;
  }

  .container .notification a {
    text-decoration: none;
    font-weight: 600;
  }

  .container .notification:hover {
    background-color: var(--sec-bg);
  }

  .container #no-notification-text {
    font-size: var(--text-font-size);
  }

  /* CONTEÚDO PRINCIPAL DA PÁGINA */

  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 0.2rem;
  }

  .content-body {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 2rem;
    height: 80%;
    width: 100%;
  }

  .main-content form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .main-content header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--sec-bg);
    min-height: 8rem;
    width: 100%;
    border-top-right-radius: var(--border-radius);
    background-color: var(--main-bg);
    border-bottom: 0.2rem solid var(--sec-bg);
  }

  .main-content header .search-input {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 3rem;
    width: 87%;
    border-radius: 3.4rem;
    background-color: var(--sec-bg);
  }

  .main-content .search-input input {
    border: none;
    outline: none;
    background: transparent;
  }

  .main-content #search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  .main-content .question-picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sec-bg);
    height: 8rem;
    width: 100%;
    background-color: var(--main-bg);
  }

  .main-content .question-picker-container ul {
    display: flex;
    list-style: none;
  }

  .main-content .question-picker-container .question-topic {
    font-size: 1.6rem;
    padding: 2.2rem 2rem;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
    white-space: nowrap;
    text-decoration: none;
  }

  .main-content .question-picker-container .question-topic:hover {
    border-bottom: 0.3rem solid black;
  }

  .main-content .comment-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 98%;
    overflow-y: auto;
    border-radius: var(--border-radius);
    padding: 1rem;
  }

  /* CAIXA DO COMENTARIO/PERGUNTA */

  .comment-container .comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
  }

  .dark .comment-container .comment {
    background-color: var(--sec-bg);
  }

  .comment-container .comment-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    gap: 0.4rem;
  }

  .comment-container .comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    gap: 1rem;
  }

  .comment-container .comment-header #delete-comment-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0.2rem;
    border-radius: 50%;
    width: 2.4rem;
    height: 2.4rem;
    transition: 0.5s all;
    text-decoration: none;
  }

  .comment-container .comment-header #delete-comment-btn:hover {
    background-color: var(--sec-bg);
  }

  .comment-container .comment-header div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .comment-container .comment-header .user-position {
    color: white;
    padding: 0.4rem;
    font-weight: 600;
    border-radius: 0.4rem;
    cursor: pointer;
  }

  .question-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 8rem;
  }

  .question-body p {
    font-size: var(--text-font-size);
    font-weight: 500;
  }

  .question-body img {
    padding: 1rem;
    width: 75%;
    height: 75%;
    align-self: center;
    background-color: var(--sec-bg);
    border-radius: .6rem;
    margin-bottom: 1rem;
  }

  .dark .question-body img {
    background-color: var(--main-bg);
  }


  .comment-container .question-user-icon {
    width: 3rem;
    border-radius: 50%;
  }

  .comment-container .question-username {
    font-weight: 600;
  }

  .comment-container .question-username a {
    font-weight: 600;
    text-decoration: none;
  }


  .comment-container .comment-content .comment-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .comment-container .comment-content .comment-footer div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .comment-container .comment-content .comment-footer div .show-responses-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-weight: 600;
  }

  .comment-container .comment-content .comment-footer p {
    text-align: center;
  }

  .comment-container #no-found-error {
    padding: 2rem;
    text-align: center;
    background-color: var(--main-bg);
  }

  /* TABELA DE PONTUAÇÃO */

  .score-container {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    align-items: center;
    padding: 0.6rem;
    height: fit-content;
    min-width: 25rem;
    border-radius: 0.4rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg);
    margin-top: 1rem;
  }

  .dark .score-container {
    background-color: var(--sec-bg);
  }

  .score-container .user-score-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.4rem;
    gap: 0.4rem;
  }

  .score-container .user-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3.2rem;
    padding: 0.8rem;
    box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.6rem;
    transition: all 0.2s;
    cursor: pointer;
    background-color: var(--main-bg);
  }

  .score-container .user-card:hover {
    height: 3.4rem;
  }

  .score-container .user-card .user-infos {
    display: flex;
    gap: 1rem;
  }

  .score-container .user-card .user-infos a {
    display: flex;
    gap: 1rem;
    text-decoration: none;
  }

  .score-container .user-card-icon {
    width: 2rem;
    border-radius: 50%;
  }


  /* CONTEÚDO SECUNDÁRIO DA PÁGINA */

  .bottom-bar,
  .mobile-notification-btn {
    display: none;
  }
}

/* ESTILIZAÇÃO PARA MOBILE */

@media (max-width: 480px) {
  html.font-Pequena {
    font-size: 52.5%;
  }

  html.font-Media {
    font-size: 62.5%;
  }

  html.font-Grande {
    font-size: 68.5%;
  }

  .container {
    display: flex;
    width: 100vw !important;
    height: 100vh !important;
  }

  .container .content {
    display: flex;
    background-color: var(--main-bg);
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .bottom-bar {
    position: fixed;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: var(--main-bg);
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.3);
    border-top-right-radius: 1.8rem !important;
    border-top-left-radius: 1.8rem !important;
    bottom: 0rem;
  }

  .bottom-bar ul {
    display: flex;
    align-items: center;
    gap: 3.4rem;
    list-style: none;
  }

  .bottom-bar i {
    font-size: 2.4rem;
    color: var(--no-selected-option);
  }

  .option.page i {
    color: var(--blue);
  }

  .bottom-bar .option a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }

  .bottom-bar .create-question-btn {
    position: relative;
    bottom: .4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 50%;
  }

  .bottom-bar .create-question-btn i {
    border-radius: 50%;
    color: var(--no-selected-option);
    font-size: 5rem;
  }

  /* PARTE DAS NOTIFICAÇÕES */

  .container .notifications-bar {
    position: absolute;
    left: 0rem;
    display: none;
    padding: 1rem;
    background-color: var(--main-bg);
    border-right: 0.2rem solid var(--sec-bg);
    width: 10%;
    height: 100%;
    transition: 0.4s all;
    z-index: 999;
  }

  .container .notifications-bar .notifications-content {
    display: flex;
    flex-direction: column;

  }

  .container .notifications-bar.open .notifications-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .container .notifications-bar.open {
    padding: 2rem;
    width: 36rem;
    height: 100%;
    border-left: 0.2rem solid var(--sec-bg);
  }

  .container .notifications-bar .notifications-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.4rem;
    width: 100%;
  }

  .container .notification {
    padding: 0.6rem;
    border-radius: 0.6rem;
    width: 100%;
    transition: 0.3s all;
  }

  .container .notification p {
    font-size: 1.4rem;
  }

  .container .notification a {
    text-decoration: none;
    font-weight: 600;
  }

  .container #no-notification-text {
    font-size: var(--text-font-size);
  }


  /* PARTE DO CABEÇALHO */

  .main-content {
    width: 100vw !important;
    height: 100vh;
  }

  .main-content header {
    position: fixed;
    display: flex;
    padding: 2rem;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: var(--main-bg);
    height: 7rem;
    width: 100%;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.1);
  }

  header .mobile-notification-btn {
    position: absolute;
    right: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--sec-bg);
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    z-index: 999;
  }

  header .mobile-notification-btn i {
    font-size: 1.8rem;
  }

  header .search-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8rem 3rem;
    width: 100%;
    height: 90%;
    border-radius: 3rem;
    background-color: var(--sec-bg);
  }

  .search-input input {
    border: none;
    outline: none;
    background: transparent;
  }

  #search-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: fit-content;
  }

  /* PARTE DOS COMENTÁRIOS */

  .comment-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding-bottom: 10rem;
    margin: 7rem 0rem 11rem 0rem;
    background-color: var(--main-bg);
  }

  .comment-container .comment {
    display: flex;
    width: 100%;
    min-height: 20rem;
    background-color: var(--main-bg);
    border-bottom: 0.2rem solid var(--sec-bg);
  }

  .comment-container .comment-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    gap: 0.4rem;
  }

  .comment-container .comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 4rem;
    width: 100%;
    gap: 1rem;
  }

  .comment-container .comment-header #delete-comment-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    padding: 0.2rem;
    border-radius: 1rem;
    width: 2.4rem;
    height: 2.4rem;
    transition: 0.4s all;
    text-decoration: none;
  }

  .comment-container .comment-header #delete-comment-btn:hover {
    background-color: var(--hover-bg);
  }

  .comment-container .comment-header div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .comment-container .comment-header .user-position {
    color: white;
    padding: 0.4rem;
    font-weight: 600;
    border-radius: 0.4rem;
  }

  .question-body p {
    font-size: var(--text-font-size);
    font-weight: 400;
  }

  .comment-container .question-user-icon {
    width: 3rem;
    border-radius: 50%;
  }

  .comment-container .question-username {
    font-weight: 600;
  }

  .comment-container .question-username a {
    font-weight: 600;
    text-decoration: none;
  }


  .comment-container .comment-content .answer-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-blue);
    border: none;
    border-radius: 0.8rem;
    color: white;
    padding: 0.4rem;
    width: 10rem;
    font-size: var(--text-font-size);
    text-decoration: none;
  }

  .question-body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 8rem;
  }

  .question-body p {
    font-size: var(--text-font-size);
    font-weight: 500;
  }

  .question-body img {
    padding: 1rem;
    width: 100%;
    height: 75%;
    align-self: center;
    background-color: var(--sec-bg);
    border-radius: .6rem;
    margin-bottom: 1rem;
  }

  .dark .question-body img {
    background-color: var(--main-bg);
  }


  .comment-container .comment-content .comment-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .comment-container .comment-content .comment-footer div {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .comment-container .comment-content .comment-footer div .show-responses-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    font-weight: 600;
  }

  .comment-container .comment-content .comment-footer p {
    text-align: center;
  }

  .comment-footer .like-comment-btn i.fa-solid {
    color: red;
  }

  /* ERROS E ANIMAÇÕES */

  #no-found-error {
    margin-top: 2rem;
    text-align: center;
  }

  /* OCULTAR ELEMENTOS DESNECESSÁRIOS */

  .sec-content,
  .left-bar,
  .question-picker-container,
  .score-container,
  .score-container {
    display: none !important;
  }
}

/* TAGS */

.admin-tag {
  background-color: red;
}

.teacher-tag {
  background-color: orange;
}

.monitor-tag {
  background-color: green;
}

.student-tag {
  background-color: var(--blue);
}