<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HOME</title>
  <link rel="icon" type="image/png" href="/static/imgs/Icon.png">

  <link rel="stylesheet" href="/static/css/comment_response_style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="container">
    <div class="left-bar">
      <h2 id="logo">SITE</h2>

      <nav class="nav-bar">
        <div class="main-options">
          <ul>
            <li class="option page">
              <a href="{{url_for('home')}}">
                <p class="link-text">Página Inicial</p><i class="fa-solid fa-house hide"></i>
              </a>
            </li>

            <li class="option"><a href="{{url_for('question_create_page')}}">
                <p class="link-text">Faça uma pergunta</p><i class="fa-solid fa-square-plus hide"></i>
              </a></li>
            <li class="option"><a href="{{url_for('ia_page')}}">
                <p class="link-text">Type IA</p><i class="fa-solid fa-hexagon-nodes hide"></i>
              </a></li>
          </ul>
        </div>
        <div class="sec-options">
          <ul>
            <li class="option"><a href="{{url_for('customization_settings')}}">
                <p class="link-text">Configurações</p><i class="fa-solid fa-gear hide"></i>
              </a></li>
            <li class="option"><a id="notification-btn" href="">
                <p class="link-text">Notificações</p><i class="fa-solid fa-bell hide"></i>
              </a></li>
            <li class="option"><a href="{{url_for('profile', username=session.get('username'))}}">
                <p class="link-text">Perfil</p><i class="fa-solid fa-user hide"></i>
              </a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="notifications-bar">
      <div class="notifications-content">
        <h2>Notificações</h2>
        <div class="notifications-container">
          {% if notificacoes %}
          {% for notificacao in notificacoes %}
          <div class="notification">
            <p><a href="#">{{notificacao[4]}}</a> {{"curtiu seu " if notificacao[1] == 'curtida' else "respondeu seu "}}
              <a href="{{ url_for('show_responses', pergunta_id = notificacao[2]) }}">comentário.</a>
            </p>
          </div>
          {% endfor %}
          {% else %}
          <p id="no-notification-text">Nenhuma notificação...</p>
          {% endif %}
        </div>

      </div>
    </div>

    <div class="bottom-bar">
      <ul>
        <li class="option page"><a href="{{url_for('home')}}"><i class="fa-solid fa-house"> </i>
            <p>Início</p>
          </a></li>
        <li class="option"><a href="{{url_for('ia_page')}}"><i class="fa-solid fa-diamond"></i> </i>
            <p>IA</p>
          </a></li>
        <li class="option create-question-btn"><a href="{{url_for('question_create_page')}}"><i
              class="fa-solid fa-circle-plus "></i></a></li>
        <li class="option"><a href="{{url_for('profile', username = session.get('username'))}}"><i
              class="fa-solid fa-user"></i> </i>
            <p>Perfil</p>
          </a></li>
        <li class="option"><a href="{{url_for('customization_settings')}}"><i class="fa-solid fa-gear"></i> </i>
            <p>Opções</p>
          </a></li>
      </ul>
    </div>

    <div class="content">
      <div class="main-content">
        <header class="page-header">
          <a id="back-home-btn" onclick="history.back()">
            < </a>
        </header>
        <div class=" question-container">

          <div class="question-container">
            <div class="comment">
              <div class="comment-content">
                <div>
                  <div class="comment-header">
                    <div>
                      <img class="question-user-icon" src="/static/imgs/no_photo.png" alt="" />
                      <p class="question-username">@{{ pergunta[6] }}</p>
                      -
                      <p class="user-position {% if pergunta[3] == 'ADMINISTRADOR' %}admin-tag
                            {% elif pergunta[3] == 'PROFESSOR' %}teacher-tag
                            {% elif pergunta[3] == 'MONITOR' %}monitor-tag
                            {% else %}student-tag

                            {% endif %}">{{ pergunta[3] }}</p>
                    </div>
                    <p>publicado em <b>{{ pergunta[5] }}</b></p>
                  </div>

                  <div class="comment-body">
                    <div class="question-title-container">
                      <h2 class="question-title">{{ pergunta[1] }}</h2>
                    </div>
                    <div class="question-body">
                      <p>{{ pergunta[2] }}</p>
                    </div>
                  </div>
                </div>

                <footer class="comment-footer">
                  <p>{{ pergunta[4] }}</p>
                </footer>
              </div>
            </div>

            <div class="answer-comment-container">
              <form action="{{ url_for('post_answer', pergunta_id = pergunta[0]) }}" method="post">
                <div>
                  <label for="comment-response">Responda</label>
                  <textarea name="comment-response" id="" placeholder="Responda o comentário"></textarea>
                </div>
                <button id="post-answer">Enviar</button>
              </form>
            </div>

            <div class="comment-answer-container">

              {% for resposta in respostas %}
              <div class="answer">
                <header class="answer-header">
                  <div>
                    <img class="question-user-icon" src="/static/imgs/no_photo.png" alt="" />

                    <p>@{{ resposta[5] }}</p>
                    -
                    <p class="user-position {% if resposta[2] == 'ADMINISTRADOR' %}admin-tag
                            {% elif resposta[2] == 'PROFESSOR' %}teacher-tag
                            {% elif resposta[2] == 'MONITOR' %}monitor-tag
                            {% else %}student-tag

                            {% endif %}">{{ resposta[2] }}</p>
                  </div>
                  <p>publicado em <b>{{ resposta[3] }}</b></p>
                </header>

                <section class="answer-content">
                  <p>{{ resposta[1] }}</p>
                </section>
              </div>
              {% endfor %}
            </div>


          </div>


        </div>
      </div>

    </div>
  </div>
  </div>

  <script src="/static/js/appearance.js"></script>
  <script src="/static/js/interact.js"></script>
</body>

</html>