<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/static/css/home_style.css" />
    <link rel="icon" type="image/png" href="/static/imgs/Icon.png">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <div class="left-bar">
        <h2 id="logo">SITE</h2>

        <nav class="nav-bar">
          <div class="main-options">
            <ul>
              <li class="option page">
                <a href="{{url_for('home')}}">Página Inicial</a>
              </li>
              <li class="option"><a href="#">Fórum</a></li>
              <li class="option"><a href="{{url_for('question_create_page')}}">Fazer uma Pergunta</a></li>
              <li class="option"><a href="{{url_for('ia_page')}}">Type IA</a></li>
            </ul>
          </div>
          <div class="sec-options">
            <ul>
              <li class="option"><a href="{{url_for('customization_settings')}}">Configurações</a></li>
              <li class="option">
                <a
                  href="{{url_for('profile', username=session.get('username'))}}"
                  >Perfil</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="bottom-bar">
        <ul>
          <li class="option page"><a href="{{url_for('home')}}"><i class="fa-solid fa-house"> </i><p>Início</p></a></li>
          <li class="option"><a href="#"><i class="fa-solid fa-diamond"></i> </i><p>IA</p></a></li>
          <li class="option create-question-btn"><a href="{{url_for('question_create_page')}}"><i class="fa-solid fa-circle-plus "></i></a></li>
          <li class="option"><a href=""><i class="fa-solid fa-user"></i> </i><p>Perfil</p></a></li>
          <li class="option"><a href="{{url_for('ia_page')}}"><i class="fa-solid fa-gear"></i> </i><p>Opções</p></a></li>
        </ul>
      </div>

      <div class="content">
        <div class="main-content">
          <header>
            <form action="{{url_for('search')}}" method="post">

              <div class="search-input">
                <input name="search-input" type="text" value="{{pesquisa if pesquisa != '' else ''}}" placeholder="O que você procura?" />
                <button id="search-btn">
                  <i class="fa-solid fa-magnifying-glass"></i>
                </button>
              </div>
          </form>

          <div class="question-picker-container">
            <ul>
              <li><a class="question-topic" href="{{url_for('filter_subject', materia='Curso Técnico')}}">Curso Técnico</a></li>
              <li><a class="question-topic" href="{{url_for('filter_subject', materia='Física')}}">Física</a></li>
              <li><a class="question-topic" href="{{url_for('filter_subject', materia='História')}}">História</a></li>
              <li><a class="question-topic" href="{{url_for('filter_subject', materia='Matemática')}}">Matemática</a></li>
              <li><a class="question-topic" href="{{url_for('filter_subject', materia='Português')}}">Português</a></li>
              <li><a class="question-topic" href="{{url_for('filter_subject', materia='Química')}}">Química</a></li>
              <li><a class="question-topic" href="{{url_for('filter_subject', materia='todas')}}">...</a></li>
            </ul>            
          </div>

          </header> 
          
          <div class="content-body">
            <div class="question-container">
              {% if perguntas %}
                {% for pergunta in perguntas %}
                  <div class="comment">
                    <div class="comment-content">
                      <div>
                        <div class="comment-header">
                          <div>
                            <img class="question-user-icon" src="/static/imgs/no_photo.png" alt="" />
                            <p class="question-username">@{{ pergunta[7] }}</p>
                            -
                            <p class="user-position">{{ pergunta[3] }}</p>
                          </div>
                          <div>
                            <p>publicado em <b>{{ pergunta[5] }}</b></p>
                            {% if session.get('username') == pergunta[6] %}
                              <a id="delete-comment-btn" href="{{url_for('delete_comment', comentario_id=pergunta[0])}}"><i class="fa-solid fa-trash"></i></a>
                            {% endif %}
                          </div>
                          
                        </div>
                
                        <div class="comment-body">
                          <div class="question-title-container">
                            <h2 class="question-title">{{ pergunta[1] }}</h2>
                          </div>
                          <div class="question-body">
                            <p id="comment-text">{{ pergunta[2] }}</p>
                          </div>
                        </div>
                      </div>
                      
              
                      <div class="comment-footer">
                        <div>
                          <a class="show-responses-btn" href="{{ url_for('show_responses', pergunta_id = pergunta[0]) }}">Ver respostas</a>
                          <a href="{{url_for('like_comment', comentario_id=pergunta[0])}}" class="like-comment-btn"><i class="fa-regular fa-heart"></i></a>
                          </i><p>{{ pergunta[6] }}</p>
                        </div>
                        
                        <p>{{ pergunta[4] }}</p>
                      </div>
                    </div>
                  </div>
                {% endfor %}
              {% else %}
                  <h2 id="no-found-error">Nenhum resultado encontrado...</h2>
              {% endif %}
            </div>
            
            <div class="score-container">
              <h2>Tabela de pontuação</h2>
              <div class="user-score-container">
                {% for usuario in usuarios %}
                  <div class="user-card">
                    <div class="user-infos">
                      1
                      <img class="user-card-icon" src="/static/imgs/no_photo.png" alt="" />
                      <p>@{{usuario[0]}}</p>
                    </div>
                    <div class="user-score">
                      <p>{{usuario[1]}}</p>
                    </div>
                    
                  </div>
                {% endfor %}
                
              </div>
            </div>
          </div>

          

        </div>

      </div>
        
      </div>
    </div>

    <script src="/static/js/appearance.js"></script>
    <script src="translate.js"></script>
    <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

  </body>
</html>
