<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Página Inicial</title>
  <link rel="stylesheet" href="/static/css/home_style.css" />
  <link rel="icon" type="image/png" href="/static/imgs/Icon.png">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="pop-up-container">
    <div class="delete-comment-pop-up">
      <div class="text-container">
        <h1><i class="fa-solid fa-circle-exclamation"></i> ATENÇÃO!</h1>
        <h3>Deseja excluir o comentário?</h3>
      </div>

      <div class="btn-container">
        <button id="confirm-delete-btn">Sim</button>
        <button id="close-pop-up-btn">Cancelar</button>
      </div>


    </div>
  </div>

  <div class="container">
    <div class="left-bar">
      <h2 id="logo">SITE</h2>

      <nav class="nav-bar">
        <div class="main-options">
          <ul>
            <li class="option page">
              <a href="{{url_for('home')}}">
                <p class="link-text">Página Inicial</p><i class="fa-solid fa-house hide"></i>
              </a>
            </li>
            <li class="option"><a href="#">
                <p class="link-text">Fórum</p><i class="fa-solid fa-image hide"></i>
              </a></li>
            <li class="option"><a href="{{url_for('question_create_page')}}">
                <p class="link-text">Fazer uma pergunta</p><i class="fa-solid fa-square-plus hide"></i>
              </a></li>
            <li class="option"><a href="{{url_for('ia_page')}}">
                <p class="link-text">Type IA</p><i class="fa-solid fa-hexagon-nodes hide"></i>
              </a></li>
          </ul>
        </div>
        <div class="sec-options">
          <ul>
            <li class="option"><a href="{{url_for('customization_settings')}}">
                <p class="link-text">Configurações</p><i class="fa-solid fa-gear hide"></i>
              </a></li>
            <li class="option"><a id="notification-btn" href="">
                <p class="link-text">Notificações</p><i class="fa-solid fa-bell hide"></i>
              </a></li>
            <li class="option"><a href="{{url_for('profile', username=session.get('username'))}}">
                <p class="link-text">Perfil</p><i class="fa-solid fa-user hide"></i>
              </a></li>
          </ul>
        </div>
      </nav>
    </div>

    <div class="notifications-bar">
      <div class="notifications-content">
        <h2>Notificações</h2>
        <div class="notifications-container">
          {% if notificacoes %}
          {% for notificacao in notificacoes %}
          <div class="notification">
            <p><a href="{{url_for('profile', username=notificacao[4])}}">{{notificacao[4]}}</a> {{"curtiu seu " if
              notificacao[1] == 'curtida' else "respondeu seu "}}
              <a href="{{ url_for('show_responses', pergunta_id = notificacao[2]) }}">comentário.</a>
            </p>
          </div>
          {% endfor %}
          {% else %}
          <p id="no-notification-text">Nenhuma notificação...</p>
          {% endif %}
        </div>

      </div>
    </div>

    <div class="bottom-bar">
      <ul>
        <li class="option page"><a href="{{url_for('home')}}"><i class="fa-solid fa-house"> </i>
            <p>Início</p>
          </a></li>
        <li class="option"><a href="{{url_for('ia_page')}}"><i class="fa-solid fa-diamond"></i> </i>
            <p>IA</p>
          </a></li>
        <li class="option create-question-btn"><a href="{{url_for('question_create_page')}}"><i
              class="fa-solid fa-circle-plus "></i></a></li>
        <li class="option"><a href="{{url_for('profile', username = session.get('username'))}}"><i
              class="fa-solid fa-user"></i> </i>
            <p>Perfil</p>
          </a></li>
        <li class="option"><a href="{{url_for('customization_settings')}}"><i class="fa-solid fa-gear"></i> </i>
            <p>Opções</p>
          </a></li>
      </ul>
    </div>

    <div class="content">
      <div class="main-content">
        <header>
          <form action="{{url_for('search')}}" method="post">

            <div class="search-input">
              <input name="search-input" type="text" value="{{pesquisa if pesquisa != '' else ''}}"
                placeholder="O que você procura?" />
              <button id="search-btn">
                <i class="fa-solid fa-magnifying-glass"></i>
              </button>
            </div>
          </form>

          <div class="question-picker-container">
            <ul>
              <li><a class="question-topic" href="{{url_for('filter_subject', materia='Curso Técnico')}}">Ensino
                  Técnico</a></li>
              <li><a class="question-topic" href="{{url_for('filter_subject', materia='Física')}}">Ensino Básico</a>
              </li>
              <li><a class="question-topic" href="{{url_for('home')}}">Geral</a>
              </li>
              <li><select name="" id="">
                  <option value="" disabled selected>Selecione uma matéria</option>
                  <option value="Artes">Artes</option>
                  <option value="Biologia">Biologia</option>
                  <option value="Ciências">Ciências</option>
                  <option value="Educação Física">Educação Física</option>
                  <option value="Ensino Religioso">Ensino Religioso</option>
                  <option value="Filosofia">Filosofia</option>
                  <option value="Física">Física</option>
                  <option value="Geografia">Geografia</option>
                  <option value="História">História</option>
                  <option value="Inglês">Inglês</option>
                  <option value="Matemática">Matemática</option>
                  <option value="Português">Português</option>
                  <option value="Química">Química</option>
                  <option value="Redação">Redação</option>
                  <option value="Sociologia">Sociologia</option>
                </select></li>
            </ul>
          </div>

        </header>

        <div class="content-body">
          <div class="comment-container">
            {% if perguntas %}
            {% for pergunta in perguntas %}
            <div class="comment" id="comment-{{pergunta[0]}}">
              <div class="comment-content">
                <div>
                  <div class="comment-header">
                    <div>
                      <img class="question-user-icon" src="/static/imgs/no_photo.png" alt="" />
                      <p class="question-username">@<a href="{{url_for('profile', username = pergunta[8])}}">{{
                          pergunta[8] }}</a></p>
                      -
                      <p class="user-position {% if pergunta[3] == 'ADMINISTRADOR' %}admin-tag
                            {% elif pergunta[3] == 'PROFESSOR' %}teacher-tag
                            {% elif pergunta[3] == 'MONITOR' %}monitor-tag
                            {% else %}student-tag

                            {% endif %}">{{ pergunta[3] }}</p>
                    </div>
                    <div>
                      <p>publicado em <b>{{ pergunta[5] }}</b></p>
                      {% if session.get('username') == pergunta[8]%}
                      <button id="delete-comment-btn" onclick="openDeletePopUp('{{pergunta[0]}}')"><i
                          class="fa-solid fa-trash"></i></button>
                      {% endif %}
                    </div>

                  </div>

                  <div class="comment-body">
                    <div class="question-title-container">
                      <h2 class="question-title">{{ pergunta[1] }}</h2>
                    </div>
                    <div class="question-body">
                      <p id="comment-text">{{ pergunta[2] }}</p>
                      {% if pergunta[6] %}
                      <img src="{{ url_for('static', filename=pergunta[6]) }}" alt="imagem da pergunta">
                      {% endif %}
                    </div>
                  </div>
                </div>


                <div class="comment-footer">
                  <div>
                    <a class="show-responses-btn" href="{{ url_for('show_responses', pergunta_id = pergunta[0]) }}">Ver
                      respostas</a>
                    <a href="#" class="like-comment-btn" data-id="{{ pergunta[0] }}">
                      <i class="fa-regular fa-heart"></i>
                    </a>
                    <p class="likes-count">{{ pergunta[7] }}</p>
                  </div>

                  <p>{{ pergunta[4] }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
            {% else %}
            <h2 id="no-found-error">Nenhum resultado encontrado...</h2>
            {% endif %}
          </div>

          <div class="score-container">
            <h2>Tabela de pontuação</h2>
            <div class="user-score-container">
              {% for usuario in usuarios %}
              <div class="user-card">
                <div class="user-infos">
                  {{ loop.index }}
                  <img class="user-card-icon" src="/static/imgs/no_photo.png" alt="" />
                  <p>@{{usuario[0]}}</p>
                </div>
                <div class="user-score">
                  <p>{{usuario[1]}}pts</p>
                </div>

              </div>
              {% endfor %}

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
  </div>

  <script src="/static/js/appearance.js"></script>
  <script src="/static/js/interact.js"></script>


</body>

</html>
