<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Configurações: Customização</title>
  <link rel="icon" type="image/png" href="/static/imgs/Icon.png" />

  <link rel="stylesheet" href="/static/css/interactions_style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
    integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="pop-up-container">
    <div class="about-us-container">
      <div class="text-container">
        <h2>Sobre a plataforma</h2>
        <p>
          A plataforma foi desenvolvida para oferecer suporte educacional online, conectando alunos, monitores e
          professores em um ambiente colaborativo de aprendizado. Nela, os usuários podem tirar dúvidas, interagir e
          acessar conteúdos de forma simples e intuitiva. Além disso, conta com uma inteligência artificial voltada
          exclusivamente para questões de programação, ampliando as possibilidades de estudo e apoio acadêmico.
        </p>
      </div>
      <div class="btn-container">
        <button class="about-us-btn">Fechar</button>
      </div>

    </div>
  </div>

  <form action="{{url_for('send_message')}}" method="post">
    <div class="message-container">
      <div class="header">
        <h2>Nova mensagem</h2>
      </div>
      <div class="input-container">
        <input type="text" placeholder="Assunto" name="subject">
        <hr>
        <textarea placeholder="Mensagem" name="message-text" id="" required></textarea>
        <div class="btn-container">
          <button>Enviar</button>
          <button type="button" class="message-container-btn">Cancelar</button>
        </div>

      </div>
    </div>
  </form>

  <div class="container">

    <div class="bottom-bar">
      <ul>
        <li class="option"><a href="{{url_for('home')}}"><i class="fa-solid fa-house"> </i>
            <p>Início</p>
          </a></li>
        <li class="option"><a href="{{url_for('ia_page')}}"><i class="fa-solid fa-diamond"></i> </i>
            <p>IA</p>
          </a></li>
        <li class="option create-question-btn"><a href="{{url_for('question_create_page')}}"><i
              class="fa-solid fa-circle-plus "></i></a></li>
        <li class="option"><a href="{{url_for('profile', username = session.get('username'))}}"><i
              class="fa-solid fa-user"></i> </i>
            <p>Perfil</p>
          </a></li>
        <li class="option page"><a href="{{url_for('customization_settings')}}"><i class="fa-solid fa-gear"></i> </i>
            <p>Opções</p>
          </a></li>
      </ul>
    </div>

    <div class="mobile-side-bar">
      <div class="main-container">
        <div class="header-container">
          <h2>OPÇÕES</h2>
          <button class="mobile-side-bar-btn"><i class="fa-solid fa-x"></i></button>
        </div>
        <ul>
          <li><a href="{{url_for('customization_settings')}}">Customização</a></li>
          <li><a href="{{url_for('interactions_settings')}}">Interações</a></li>
        </ul>
      </div>

      <ul>
        <li><a href="">Suporte</a></li>
        <li><a onclick="resetAppearenceSettings()">Redefinir configuraçoes</a></li>
      </ul>
    </div>

    <div class="content-header">
      <header class="page-header">
        <a id="back-home-btn" href="{{ url_for('home') }}">
          < </a>
            <button class="mobile-side-bar-btn"><i class="fa-solid fa-bars"></i></button>

      </header>
    </div>

    <div class="content">
      <div>
        <div class="left-bar">
          <h2 id="logo">SITE</h2>

          <nav class="nav-bar">
            <div class="main-options">
              <ul>
                <li class="option">
                  <i class="fa-solid fa-palette"></i><a href="{{url_for('customization_settings')}}">Customização</a>
                </li>
                <li class="option page">
                  <i class="fa-solid fa-clock-rotate-left"></i><a href="{{url_for('interactions_settings')}}">Minhas
                    interações</a>
                </li>
                <li class="option">
                  <i class="fa-solid fa-triangle-exclamation"></i>
                  <a class="message-container-btn">Suporte</a>
                </li>
              </ul>
            </div>
            <hr />
            <div class="sec-options">
              <ul>
                <li class="option">
                  <i class="fa-solid fa-rotate"></i>
                  <a onclick="resetAppearenceSettings()">Redefinir configuraçoes</a>
                </li>
                <li class="option">
                  <i class="fa-solid fa-brain"></i>
                  <a class="about-us-btn">Sobre a plataforma </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <div class="settings-container">
        <div class="center-container">
          <h2>Interações</h2>
          <div class="options-container">
            <div class="settings-option">
              <h2>Interação</h2>
              <select name="interaction-selector" id="interaction-selector">
                <option value="comment">Comentários</option>
                <option value="likes">Curtidas</option>
                <option value="messages">Mensagens</option>

              </select>
            </div>

            <div class="comments-container">
              {% for pergunta in perguntas %}
              <div class="comment">
                <div class="comment-content">
                  <div>
                    <div class="comment-header">
                      <div>
                        <img class="question-user-icon" src="/static/imgs/no_photo.png" alt="" />
                        <p class="question-username">@{{ pergunta[6] }}</p>
                      </div>
                      <div>
                        <p>publicado em <b>{{ pergunta[5] }}</b></p>
                        {% if session.get('username') == pergunta[6] %}
                        <a id="delete-comment-btn" href="{{url_for('delete_comment', comentario_id=pergunta[0])}}"><i
                            class="fa-solid fa-trash"></i></a>
                        {% endif %}
                      </div>
                    </div>

                    <div class="comment-body">
                      <div class="question-title-container">
                        <h2 class="question-title">{{ pergunta[1] }}</h2>
                      </div>
                      <div class="question-body">
                        <p id="comment-text">{{ pergunta[2] }}</p>
                      </div>
                    </div>
                  </div>

                  <div class="comment-footer">
                    <div>
                      <a class="show-responses-btn"
                        href="{{ url_for('show_responses', pergunta_id = pergunta[0]) }}">Ver respostas</a>
                    </div>

                    <p>{{ pergunta[4] }}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
              {% for resposta in respostas %}
              <div class="answer">
                <header class="answer-header">
                  <div>
                    <img class="question-user-icon" src="/static/imgs/no_photo.png" alt="" />

                    <p>@{{ resposta[4] }}</p>
                  </div>
                  <p>publicado em <b>{{ resposta[3] }}</b></p>
                </header>

                <section class="answer-content">
                  <p>{{ resposta[1] }}</p>
                </section>
              </div>
              {% endfor %}
            </div>

            <div class="likes-container">
              {% for curtida in curtidas %}
              <div class="like">
                <p>Você curtiu o <a href="{{ url_for('show_responses', pergunta_id = curtida[1]) }}">comentário</a> de
                  <a href="{{ url_for('profile', username=curtida[5]) }}">{{curtida[5]}}</a>
                </p>
                <p>{{curtida[2]}}</p>
              </div>
              {% endfor %}
            </div>

            <div class="messages-container">
              {% if mensagens %}
              {% for mensagem in mensagens %}
              <div class=" message-container {% if mensagem[4] == 'visualizada' %} seen-message {% endif %}">
                <div class="text-container">
                  <div>
                    <a href="{{url_for('profile', username = mensagem[5])}}">{{mensagem[5]}}</a>
                    <p class="text"><b>{{mensagem[1]}}</b> - {{mensagem[2]}}</p>
                  </div>
                  <p class="date">Enviado em <b>{{mensagem[3]}}</b></p>
                </div>
                <div class="btn-container">
                  <input type="checkbox" checked>
                  <label>Marcar como lida</label>

                </div>


              </div>
              {% endfor %}
              {% else %}
              <h2>Nenhuma mensagem...</h2>
              {% endif %}
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/static/js/appearance.js"></script>
  <script src="/static/js/interact.js"></script>
  <script src="/static/js/interactions_settings.js"></script>
</body>

</html>