<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Faça uma pergunta</title>
    <link rel="stylesheet" href="/static/css/create_question_style.css" />
    <link rel="icon" type="image/png" href="/static/imgs/Icon.png">

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <div class="left-bar">
        <h2 id="logo">SITE</h2>

        <nav class="nav-bar">
          <div class="main-options">
            <ul>
              <li class="option">
                <a href="{{url_for('home')}}">Página Inicial</a>
              </li>
              <li class="option"><a href="#">Fórum</a></li>
              <li class="option page"><a href="{{url_for('question_create_page')}}">Fazer uma Pergunta</a></li>
              <li class="option"><a href="{{url_for('ia_page')}}">Type IA</a></li>
            </ul>
          </div>
          <div class="sec-options">
            <ul>
              <li class="option"><a href="{{url_for('customization_settings')}}">Configurações</a></li>
              <li class="option">
                <a
                  href="{{url_for('profile', username=session.get('username'))}}"
                  >Perfil</a
                >
              </li>
            </ul>
          </div>
        </nav>
      </div>

      <div class="content">
        <div class="create-question-container">
          <form action="{{url_for('create_question')}}" method="post">
            <label for="question-title">Faça uma pergunta</label>
            <input id="question-title" type="text" name="question-title" placeholder="Título da pergunta" required>
            <textarea id="question-text" type="text" name="question-text" placeholder="Conteúdo da pergunta" required></textarea>
            
            <div class="input-container">
              <select name="materia" id="subject-selector">
                <option value="Curso Técnico">Curso Técnico</option>
                <option value="Filosofia">Filosofia</option>
                <option value="Física">Física</option>
                <option value="Geografia">Geografia</option>
                <option value="História">História</option>
                <option value="Inglês">Inglês</option>
                <option value="Matemática">Matemática</option>
                <option value="Português">Português</option>
                <option value="Química">Química</option>

                
              </select>

              <button id="post-question-btn">Faça sua pergunta</button>
            </div>

          </form>
          
        </div>
      </div>

        
      </div>
    </div>

    <script src="/static/js/appearance.js"></script>
  </body>
</html>
